* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 10px;
  font-family: var(--font-Segoe);
}
:root {
  --black: #1f2328;
  --gray: #57606a;
  --lightGray: #e6e6e7;
  --font-Segoe: "Segoe UI", sans-serif;
  --wihte: #ffffff;
  --blue: #88aef9;
  --btnColor: #f6f8fa;
  --bs-dark: #212529;
}
.flex {
  display: flex;
}
a {
  text-decoration: none;
  color: inherit;
}
li {
  list-style: none;
}
body {
  min-height: 100vh;
  min-width: 100vw;
  flex-direction: column;
  align-items: center;
  position: relative;
  background-color: #1f2328;
  color: #fff;
}
/* navbar style */
.navbar {
  height: 65px;
  min-width: 100vw;
  background-color: #1f2328;
  align-items: center;
  justify-content: space-between;

  gap: 15px;
  color: #fff;
}

.navbar-search-links-container {
  gap: 15px;
}
.logo-search-bar-wrapper {
  gap: 15px;
  margin-left: 40px;
  /*margin-left: 40px; */
  align-items: center;
  color: #fff;
}
.fa-github {
  font-size: 3.2rem;
}
/*burger menu*/
.burger-menu {
  display: none;
}
.fa-bars {
  color: #fff;
  font-size: 2.5rem;
  cursor: pointer;
}

.search-bar {
  height: 30px;
  width: 300px;
  border: 1px solid var(--gray);
  border-radius: 5px;
  justify-content: space-between;
  align-items: center;
  padding: 15px 5px;
  cursor: pointer;
  gap: 8px;
}
.search-input {
  height: 30px;
  width: 220px;
  background-color: inherit;
  border: none;
  outline: none;
  color: #ffffff;
}
.search-input::placeholder {
  color: #cdcdce;
  font-family: var(--font-Segoe);
}
.search-icon {
  color: var(--gray);
  font-size: 1.4rem;
}
.ul-links {
  align-items: center;
  justify-content: center;
  color: #fff;
  font-family: var(--font-Segoe);
  gap: 20px;
  font-size: 1.4rem;
  font-weight: 600;
}
.profile-mini-pic-img {
  width: 20px;
  height: 20px;
  border-radius: 100%;
}
.ul-icons {
  gap: 20px;

  color: #fff;
  align-items: center;
  justify-content: center;
  padding: 0 10px;
  margin-right: 40px;
}
.ul-icons i {
  font-size: 1.2rem;
}
.profile,
.plus-icon {
  gap: 5px;
}
.fa-bell {
  font-size: 2rem !important;
}
ul li:hover {
  color: var(--gray);
  cursor: pointer;
}

/* m*/
.search-bar {
  height: 30px;
  width: 300px;
  border: 1px solid var(--gray);
  border-radius: 5px;
  justify-content: space-between;
  align-items: center;
  padding: 15px 5px;
  cursor: pointer;
  gap: 8px;
}
.compare-input1,
.compare-input2 {
  height: 30px;
  width: 220px;
  background-color: inherit;
  border: none;
  outline: none;
  color: #ffffff;
}
.search-input::placeholder {
  color: #cdcdce;
  font-family: var(--font-Segoe);
}
.search-icon {
  color: var(--gray);
  font-size: 1.4rem;
}

.main-compare {
  margin-top: 5rem;
  font-size: 2rem;
  justify-content: center;
  align-items: center;

  gap: 5rem;
}
.compare-user {
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}
.user-profile-pic-compare {
  border-radius: 100%;
  height: 25vmin;
  width: 25vmin;
  border: 2px solid #ced4da;
}
.compare {
  color: var(--black);
  border-radius: 10px;
  align-items: center;
  justify-content: center;
  height: 30px;
  width: fit-content;
  cursor: pointer;
  background-color: #f0f2f4;
  border-top: none;
  border-left: none;
  padding: 10px;
  font-size: 2rem;
  border-right: 1px solid #4c6793;
  border-bottom: 1px solid #4c6793;
}
.result1,
.result2 {
  height: 20vmin;
  width: 30vmin;
  display: none;
}

/* footer style */
footer {
  align-items: center;
  justify-content: center;
  gap: 5rem;
  margin-top: 20rem;
  border-top: 1px solid var(--lightGray);
  height: 5rem;
  width: 100%;
}
.footer-logo {
  color: var(--btnColor);
}
.footer-logo-con {
  align-items: center;
  gap: 1rem;
}
.copyright {
  font-size: 1.2rem;
  color: var(--btnColor);
}
.footer-ul {
  color: #abc4e0;
  font-family: var(--font-Segoe);
  gap: 4rem;
  font-size: 1.2rem;
}
.footer-ul li:hover {
  color: #9cb5d1;
  text-decoration: underline;
}

@media screen and (max-width: 1200px) {
  html {
    font-size: 9px;
  }
  .fa-github {
    font-size: 2.8rem;
  }
  .right-side-items {
    grid-template-rows: (1fr, repeat(6));
    grid-template-columns: 1fr;
    gap: 5px;
  }
  .navbar-search-links-container,
  .logo-search-bar-wrapper,
  .ul-icons,
  .ul-links {
    gap: 7px;
  }
  .user-profile {
    margin-left: 10rem;
  }
  .user-profile-pic {
    border-radius: 100%;
    height: 40vmin;
    width: 40vmin;
    margin-top: 3rem;
    border: 2px solid #ced4da;
  }
  footer {
    flex-direction: column-reverse;
    align-items: center;
    gap: 15px;
  }
}

@media screen and (max-width: 920px) {
  html {
    font-size: 7px;
  }
  body {
    overflow-x: hidden;
    align-items: center;
  }
  .burger-menu {
    display: block;
    padding-right: 20px;
  }
  .ul-links,
  .navbar-rightside-icons {
    display: none;
  }
  footer {
    padding-top: 10px;
    align-items: center;
  }
  .footer-ul {
    gap: 10px;
    justify-content: center;
  }
  .user-profile {
    flex-direction: row;
  }
  .main-compare {
    flex-direction: column;
    margin-bottom: 20rem;
  }
}
@media screen and (max-width: 450px) {
  body {
    overflow-x: hidden;
  }
  footer {
    min-height: 20vh;
    align-items: center;
  }
  .footer-ul {
    flex-wrap: wrap;
    justify-content: center;
  }
  .footer-links {
    width: 30%;
  }
}
@media screen and (max-width: 320px) {
  .search-bar {
    display: none;
  }

  .footer-ul {
    flex-wrap: wrap;
    justify-content: center;
  }
  .footer-links {
    width: 30%;
  }
}
